{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div style="text-align: center; padding: 30px;">
     <h2> Adaugare tip reparatie </h2>
    </div>
    <form action="/adaugaretipreparatie" method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Tip reparatie</label>
          <input type="text" name="title" class="form-control" id="inputEmail4" placeholder="Exemplu : Schimbare baie de ulei Ww">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Costul tipului de reparatie </label>
          <input type="text" name="cost" class="form-control" id="inputPassword4" placeholder="RON/Euro/Dollar">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Adauga tip reparatie</button>
    </form>

{% endblock %}