{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div style="text-align: center; padding: 30px;">
     <h2> Adaugare reparatie </h2>
    </div>
{#        <form action="/adaugareparatie" method="post">#}
{#            <label> Detalii reparatie </label> <input type="text" name="fixdetails" id="fixdetails">#}
{#            <label> Extracost </label> <input type="text" name="extracost" id="extracost">#}
{#            <label> TipReparatie </label>#}
{#                <select id="fixesTypes" name="fixesTypes">#}
{#                    {% for fixType in fixTypes %}#}
{#                      <option>{{ fixType.title }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            <h3> Date contact client </h3>#}
{#            <label> Nume </label> <input type="text" name="nume" id="nume">#}
{#            <label> Prenume </label> <input type="text" name="prenume" id="prenume">#}
{#            <label> Numar de telefon </label> <input type="nrtelefon" name="nrtelefon" id="nrtelefon">#}
{#            <label> Email </label> <input type="email" name="email" id="email">#}
{##}
{#            <h3> Client-ul e deja adaugat in baza de date ? Introdu id-ul acestuia. Id-ul clientului il poti gasi in#}
{#            sectiunea vizualizare clienti </h3>#}
{#            <label> Cod client(id) </label> <input type="text" name="idclient">#}
{#            <input type="submit" value="Adauga reparatie">#}
{#        </form>#}
    <form action="/adaugareparatie" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Extra-cost</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="RON/Euro/Dollar" name="extracost">
            </div>
            <div class="form-group col-md-6">
              <label for="inputState">Tipul reparatiei</label>
               <select id="inputState" class="form-control" name="fixesTypes">
                    {% if fixTypes|length %}
                        {% for fixType in fixTypes %}
                          <option>{{ fixType.title }}</option>
                        {% endfor %}
                    {% else %}
                        <option> Nu ai tipuri de reparatii in baza de date</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Detalii reparatie</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="fixdetails"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputEmail4">Nume</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="" name="nume">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Prenume</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="" name="prenume">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Email </label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="example@gmail.com" name="email">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Numar de telefon </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="" name="nrtelefon">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmail4">Client deja in baza de date ? Trebuie doar sa-i inserezi id-ul (codul) </label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="" name="idclient">
            </div>
        </div>

  <button type="submit" class="btn btn-primary">Adauga reparatie</button>
</form>

{% endblock %}