{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <h2> Adaugare reparatie </h2>
        <form action="/adaugareparatie" method="post">
            <label> Detalii reparatie </label> <input type="text" name="fixdetails" id="fixdetails">
            <label> Extracost </label> <input type="text" name="extracost" id="extracost">
            <label> TipReparatie </label>
                <select id="fixesTypes" name="fixesTypes">
                    {% for fixType in fixTypes %}
                      <option>{{ fixType.title }}</option>
                    {% endfor %}
                </select>
            <h3> Date contact client </h3>
            <label> Nume </label> <input type="text" name="nume" id="nume">
            <label> Prenume </label> <input type="text" name="prenume" id="prenume">
            <label> Numar de telefon </label> <input type="nrtelefon" name="nrtelefon" id="nrtelefon">
            <label> Email </label> <input type="email" name="email" id="email">
            <input type="submit" value="Adauga reparatie">
        </form>
{% endblock %}