{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <form class="form-inline" action="/cautareclient">
      <div class="form-group mx-sm-3 mb-2">
{#        <label for="staticEmail2" class="sr-only">Email</label>#}
        <input type="text" class="form-control" placeholder="email">
      </div>
      <div class="form-group mx-sm-3 mb-2">
{#        <label for="inputPassword2" class="sr-only">Nume</label>#}
        <input type="text" class="form-control" placeholder="nume">
      </div>
        <div class="form-group mx-sm-3 mb-2">
{#            <label for="inputPassword2" class="sr-only">Prenume</label>#}
            <input type="text" class="form-control" placeholder="prenume">
        </div>
      <button type="submit" class="btn btn-primary mb-2">Cautare client</button>
    </form>


    <h1 class="text-center" style="border-radius: 13px;border-right-width: 17px;">Clientii tai sunt</h1>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nume client</th>
                <th>Prenume client </th>
                <th>Numar de telefon</th>
                <th>Email</th>

            </tr>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id}}</td>
                    <td>{{ client.firstName }}</td>
                    <td>{{ client.lastName }}</td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.email }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}