{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{#    <form action="/forgotpassword" method="POST">#}
{#      <div class="row">#}
{#        <div class="col">#}
{#          <input type="text" class="form-control" placeholder="email" name="mail">#}
{#        </div>#}
{#      </div>#}
{#        <button type="submit"> Reseteaza parola </button>#}
{#    </form>#}

    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"> </div>
            <form action="/forgotpassword" method="POST">
                <h2 class="text-center"><strong>Introdu email-ul tau </strong> </h2>
                <div class="form-group"><input type="text" class="form-control" placeholder="email" name="mail"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Reseteaza parola</button></div>
            </form>
        </div>
    </div>
{% endblock %}
