{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{#    {% if current_user.is_authenticated %}#}
{#      Welcome to the app {{ current_user.username }}!#}
{#    {% endif %}#}

{#    <form action="/cautareincomplete/0" method="post">#}
{#            <label> Detalii reparatie </label> <input type="text" name="cautare_reparatie" id="fixdetails">#}
{#            <input type="submit" value="Cauta reparatie">#}
{#    </form>#}

     <form class="form-inline" action="/cautareincomplete/0" method="post">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" placeholder="Detalii reparatie" name="cautare_reparatie">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Cautare client</button>
    </form>


    <div style="text-align: center; padding: 30px;">
     <h2> Reparatii curente </h2>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Reparatie</th>
                <th>Detalii reparatie</th>
                <th>Manopera</th>
                <th>Data</th>
                <th>Id Client</th>
                <th>Stergere reparatie</th>
                <th>Editare reparatie</th>
                <th>Reparatie terminata</th>
                <th>Fotografie reparatie</th>
                <th>Angajati responsabili</th>
            </tr>
            {% if fixes|length %}
                {% for fix in fixes %}
                    <tr>
                        <td>{{ fix.id}}</td>
                        <td> <a href="tip-reparatie/{{ fix.idfixType }}"> Reparatie </a> </td>
                        <td>{{ fix.description }}</td>
                        <td>{{ fix.extra_cost }}</td>
                        {% if fix.loadDate %}
                            <td>{{ fix.loadDate.date() }}</td>
                        {% else %}
                            <td> Lipsa data </td>
                        {% endif %}
                        <td> <a href="client/{{fix.idclient}}"> Detalii client </a> </td>
                        <td> <a href="stergere/{{ fix.id }}"> Stergere </a> </td>
                        <td> <a href="editare/{{ fix.id }}"> Editare </a> </td>
                        <td> <a href="completare/{{ fix.id }}"  > Terminare </a> </td>
                        <td> <a href="fotografie/{{ fix.image_path }}"><img src="static/fiximg/{{ fix.image_path }}"
                                                                            width="200px" height="100px"> </a> </td>
                        <td> <a href="angajati/{{ fix.id }}"> Angajti responsabili</a> </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr> Momentan nu aveti reparatii in sistem </tr>
            {% endif %}
        </table>
    </div>

{% endblock %}
