{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<form class="form-inline" action="/cautareincomplete/1" method="post">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" placeholder="Detalii reparatie" name="cautare_reparatie">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Cautare client</button>
</form>


<div style="text-align: center; padding: 30px;">
     <h2> Reparatii efectuate </h2>
    </div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Reparatie</th>
                <th>Detalii reparatie</th>
                <th>Manopera</th>
                <th>Data terminare </th>
                <th>Id Client</th>
                <th>Stergere reparatie</th>
                <th>Editare reparatie</th>
                <th>Reparatie incompleta </th>
                <th>Fotografie reparatie</th>
                <th>Genereaza factura</th>
            </tr>
            {% for fix in fixes_completed %}
                <tr>
                    <td bgcolor="{{priorities[loop.index-1]}}">{{ fix.id}}</td>
                    <td> <a href="tip-reparatie/{{ fix.idfixType }}"> Reparatie </a> </td>
                    <td>{{ fix.description }}</td>
                    <td>{{ fix.extra_cost }}</td>
                    {% if fix.loadDate %}
                            <td>{{ fix.loadDate.date() }}</td>
                        {% else %}
                            <td> Lipsa data </td>
                    {% endif %}
                    <td> <a href="client/{{fix.idclient}}"> Detalii client </a> </td>
                    <td> <a href="stergere/{{ fix.id }}"> Stergere </a> </td>
                    <td> <a href="editare/{{ fix.id }}"> Editare </a> </td>
                    <td> <a href="necompletare/{{ fix.id }}"  > Revenire </a> </td>
                    <td> <a href="fotografie/{{ fix.image_path }}"><img src="static/fiximg/{{ fix.image_path }}"
                                                                            width="200px" height="100px"> </a> </td>
                    <td> <a href="factura/{{ fix.id }}"> Factura </a> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}